.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tracked-fighters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tracked-fighters-list {
    height: 35vh;
    width: 30vw;
    border: solid;
    overflow: scroll;
}

.tracked-fighters-filter {
    margin-bottom: 50px;
}
.tracked-fighter-card {
    display: flex;
    border-bottom: solid;
}

.tracked-fighter-card svg:hover {
    color: black !important;
  }
  

.tracked-fighter-card-type {
    padding: 10px;
    width: 10%;
}

.tracked-fighter-card-name {
    width: 80%;
    padding: 10px;
}

.tracked-fighter-card img {
    width: 30px;
    height: 30px;
}

.tracked-fighter-card-delete {
    padding: 10px;    
}